*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    line-height: calc(1em + 0.5rem);
}


@font-face {
    font-family: 'Archivo';
    src: url('../assets/fonts/Archivo-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../assets/fonts/LibreBaskerville-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 10px;
    font-family: 'Archivo', sans-serif;
}

img, svg {
    display: block;
    max-width: 70%;
}

input, button {
    font: inherit;
}

p, h1 {
    overflow-wrap: break-word;
}

body {
    display: flex;
}

#divHeader h1 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: clamp(2rem, 5vw, 3rem);
    overflow: hidden;
}

:root.light {
    --color-header-background: ;
    --color-intro-background: ;
    --color-form-background: ;
    --color-accCreation-background: ;
    --color-button-001: ;
    --color-button-002: ;
}

:root.dark {
    --color-header-background: ;
    --color-intro-background: ;
    --color-form-background: ;
    --color-accCreation-background: ;
    --color-button-001: ;
    --color-button-002: ;
}

#sectionHeader {
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#divHeader {
    display: flex;
    background-color: whitesmoke;
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom: 200px;
    padding: 7px;
    flex-flow: row-reverse nowrap;
}

main {
    width: 70vw;
    height: 100vh;
    background-color: aliceblue;
}

main > #introArticle {
    position: relative;
    background-color: beige;
    width: 100%;
    height: 35%;
    padding: 23px;
}

#introArticle > button {
    position: absolute;
    bottom: 70px;
    left: 500px;
}

#introDiv > p {
    width: 65%;
    font-weight: bolder;
}

#formArticle > p {
    font-size: 1.5rem;
    font-weight: bolder;
}

main > #formArticle {
    background-color: white;
    width: 100%;
    padding: 23px;
}

main > #accCreationArticle {
    background-color: darkgray;
    width: 100%;
    height: 35%;
    padding: 23px;
}