*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

img, svg {
    display: block;
    max-width: 100%;
}

input, button {
    font: inherit;
}

p, h1 {
    overflow-wrap: break-word;
}

body {
    display: flex;
}

#sectionHeader {
    width: 30vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

#divHeader {
    display: flex;
    background-color: gray;
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom: 200px;
}

main {
    width: 70vw;
    height: 100vh;
}
